
:root {
    --left-width: 40%;
}

body {
    padding: 0;
    margin: 0;
    min-width: 700px;
    min-height: 500px;
    /* max-height: 500px; */
}

#header {
    top: 0;
    /* background-color: #65812B; */

    background-color: rgba(4,124,58,255);
    /* background-color: rgba(77,172,119,255); */

    min-width: 700px;
    min-height: 60px;
}

#body {
    margin: 15px 15px;
    display: flex;
}

#left {
    flex: 40%;
    min-height: 500px;
    min-width: var(--left-width);
}
#right {
    flex: 60%;
}

#session_side {
    min-width: 100%;
    max-width: var(--left-width);
    max-height: 450px;
    overflow: auto;
    overflow-x: hidden;
}

#save_section {
    min-width: var(--left-width);
    margin: 5px 0px;
    position: absolute;
    bottom: 0;
    background-color: aqua;
}

/* .windowContainer {
    display: none;
} */


/* Left side of page where the all the saved session names are disployed */

#session_side .windowContainer {
    display: none;
}

#session_side .windowName {
    display: none;
}

#session_side .sessionContainer {
    margin: 1em;
    background-color: rgba(209,230,218,255);
    /* background-color: rgba(77,172,119,255); */
}

/* Right side where the windows and tabs are displayed after the
    session on the left side is clicked */

/* Center the name of the currently selected window */
#open_session_container {
    text-align: center;
    /* background-color: rgba(77,172,119,255); */
    background-color: rgba(209,230,218,255);
}

#open_session_container .windowContainer {
    margin: 5% 5%;
}

#open_session_container .windowContainer .tabContainer {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}

#open_session_container .windowName {
    text-align: left;
}

.f_favicon {
    display: block;
    margin: auto 0% auto 0%;
}

.title_container {
    margin-left: 1%;
}